@{
    ViewBag.Title = "BGA eSports — Rules";
}
<div class="rules">
    <h3 class="title">rules</h3>
    <p class="description"></p>

    <p class="description">Official Event Rules</p>
    <p class="description">League of Legends 5v5 tournament</p>
    <p class="description indent">General & Game Settings:</p>
    <p class="description"><strong>Max teams:</strong> 32</p>
    <p class="description"><strong>Competition Method:</strong> 5 vs 5</p>
    <p class="description"><strong>Maps Allowed:</strong> Summer’s Rift</p>
    <p class="description"><strong>Mode:</strong> Tournament Draft</p>
    <p class="description"><strong>Tournament Mode:</strong> Single Elimination</p>
    <p class="description"><strong>Bans per Team:</strong> 3</p>
    <p class="description"><strong>Game Length:</strong> Until the winner is determined</p>
    <p class="description"><strong>Game Winner:</strong> The team who completely destroys their opponent’s nexus or forces their opponent to surrender.</p>
    <p class="description"><strong>Champion Selection:</strong> Draft Mode will be used. Players may only select champions that are unlocked via any means. </p>
    <p class="description">Players need to have a minimum of 14 champions available for draft mode.</p>
    <p class="description"><strong>Restrictions:</strong> There are no item/champion restrictions at this time. At the discretion of the Head Admin, restrictions may be added.</p>
    <p class="description"><strong>Match Setup:</strong> Top or Home team captain will create matches and provide game name/passwords to both teams.</p>

    <h4 class="sub-title">
        Draft Rules
    </h4>

    <p class="description"><strong>Draft Options:</strong> Tournament will be using the draft mode feature. Team will only have 5 members.</p>
    <p class="description"><strong>Draft Order:</strong> For sudden elimination rounds sides will be decided by a coin toss, with the captains calling heads or tails when the coin is tossed. The winner will be able to choose between red or blue. For the finals after the first coin toss the sides will alternate, until we have a winner./p>
    <p class="description indent">Blue Team = A; Red Team = B</p>
    <p class="description"><strong>Bans:</strong> ABABAB</p>
    <p class="description"><strong>Picks:</strong> ABBAAABBAAB</p>

    <h4 class="sub-title">
        Stoppage of Play:
    </h4>

    <ul class="description">
        <li>A player, who experiences technical issues, on any team may call for a game restart prior to first blood within the first 5 minutes of the game (i.e. before the timer shows 5:00). The player must be experiencing a hardware malfunction (e.g. monitor, peripheral, etc.), a physical disruption (e.g. fan interference, table or chair breakage), or a configuration issue (e.g. runes, masteries, or summoner spells are properly applied). The player must declare the issue in the public chat or to a tournament administrator, at which point the game should be paused so that the issue can be resolved. Should the administrator deemed it necessary or appropriate the game can be restarted if it is before first blood or the 5-minute mark. After these milestones the game will continue as normal.</li>
        <li>If an unintentional disconnection occurs within 5 minutes from the start of the match & before first blood or a player’s client crashes or fails to load after champion selection, then the match must be restarted. Otherwise if the unintentional disconnection occurs after those milestones, the game will continue as normal. The crashed player may reconnect into the game as soon as they are able. </li>
        <li>If a player intentionally disconnects without specifying a reason, then the game will continue as normal.</li>
        <li>If a server crash occurs, then the tournament director or head referee will decide either between (a) restarting the game or (b) awarding the game to one of the teams. As a guideline, a game victory will only be awarded in a situation where one team was on the verge of certain defeat (e.g. A nexus was about to be destroyed)</li>
    </ul>

    <h4 class="sub-title">
        Unfair Play
    </h4>
    <p class="description">The follow actions will be considered unfair play:</p>
    <ol class="decription">
        <li>The use of any cheat program and/or map hack program.</li>
        <li>An intentional disconnection without proper and explicitly stated reason.</li>
        <li>The use of any settings exceeding the standard and permitted settings.</li>
        <li>Intentionally allowing an opponent to win a game.</li>
        <li>Unsportsmanlike or disruptive behaviour such as inappropriate and/or unprofessional actions directed towards another player or tournament official.</li>
        <li>The use of a game bug that is determined by the board of referees as being unfair.</li>
        <li>The use of an ineligible player</li>
        <li>Upon discovery of any player committing any violations regarded as unfair play, the offending player, at the sole discretion of the tournament director or group of referees, may receive a warning, a forfeit loss, disqualified from the tournament. During the course of the event, the tournament director or group of referees may determine other actions to embody unfair play.</li>
    </ol>
    <h4 class="sub-title">
        Rule Changes
    </h4>
    <p class="description">The administrator reserves the right to modify the rules as needed. This includes changes due to software updates or releases, event organizer decisions and all other changes deemed necessary to run a successful tournament. Players are responsible to check the rules on a regular basis and prior to the event to ensure they are in complete compliance. Players must understand the rules listed are guidelines to ensure fair and competitive play and are subject to interpretation by the administrators based on the spirit of the game.</p>
    <div class="join-btn"><a onclick="window.history.go(-1); return false;">Back</a></div>
</div>